.Rproj.user/**
.DS_Store

data/
do_files/
.ipynb_checkpoints/
results/
sanne_n_seb/
dan_lda_code/

*.do
*.dta
*.csv
*.Rds
*.tex
*.docx
*.pdf
*.xlsx
*.gdsheet
*.edgelist
*.edgelist.gz

report/
.Rproj.user
.Rproj.user/
